<?xml version="1.0" encoding="utf-8"?>
<!-- Release (production) build: production data file + no debug compilation. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="BookstoreXmlPath" value="~/App_Data/bookstore.prod.xml"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
